<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
           <table class="table">
                <tbody>
                <tr></tr>
                <tr>
                  <th>name</th>
                  <th><h4 class="profile-name"><%= @user.name %></h4></th>
                </tr>
                <tr>
                  <th>introduction</th>
                  <th><h4 class="introduction"><%= @user.introduction %></h4></th>
                </tr>
                <tr>
                  <th>follows</th>
                  <td><%= link_to @user.follower.count, user_following_user_path(@user), method: :get %></td>
                </tr>
                <tr>
                  <th>followers</th>
                  <td><%= link_to @user.followed.count, user_follower_user_path(@user), method: :get %></td>
                </tr>
                </tbody>
            </table>


              <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block ",method: :get do %>
              <i class="fas fa-user-cog"></i>
              <% end %>


            <h2>New book</h2>
            <%= form_with model:@book, local:true do |f| %>
              <h4>Title</h4>
              <%= f.text_field :title %>
              <h4>Opinion</h4>
              <%= f.text_area :body %>
              <%= f.submit 'Create Book' %>
            <% end %>
        </div>



    <div class="col-md-8 offset-md-1">
      <h1>Uses</h1>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
          <td><%= user.name %></td>
          <td>
            <% if current_user.following?(user) %>
            <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
            <% else %>
            <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
            <% end %>
          </td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>